# Dependências
node_modules
.next/

# Build
/build
/dist

# Arquivos do sistema
.DS_Store
*.pem
npm-debug.log*

# Variáveis de ambiente
.env*
!.env.example

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Bancos de dados
*.db
*.sqlite
*.sqlite3
/prisma/*.db
/prisma/*.sqlite